--- 
- name: Playbook to setup webserver
  hosts: webservers        # or your target host/group


  tasks:
    - name: "Task-1: Install webserver and firewall packages"
      ansible.builtin.yum:
        name:
          - httpd
          - firewalld
        state: latest

    - name: "Task-2: Start and enable services"
      ansible.builtin.service:
        name: "{{ item }}"
        state: started        # use "started" for idempotence
        enabled: true
      loop:
        - httpd
        - firewalld

    - name: "Task-3: Open HTTP port in firewalld"
      ansible.builtin.firewalld:
        port: 80/tcp
        permanent: true
        immediate: yes
        state: enabled


        
